<div class="jumbotron">
  <div class="container">
    <div class="row">

      <%= erb :form, locals: {idea: idea} %>

    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <% ideas.each do |tag, ideas| %>
      <div class="container">
        <h3><%= tag %></h3>
          <%= erb :ideas, locals: {ideas: ideas} %>
      </div>
    <% end %>
  </div>
</div>
