<div class="jumbotron">
  <div class="container">
  <div class="row">

    <%= erb :form, locals: {idea: idea} %>

  </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <%= erb :ideas, locals: {ideas: ideas} %>
  </div>
</div>
